<div class="profile-page sidebar-collapse">
  <div class="main contact-page">
    <div class="section section-gray">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto text-center">
            <app-birthday-login-form></app-birthday-login-form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <nav class="footer-nav">
          <ul>
            <li>
              <a href="https://medium.com/@danramsden/architecting-is-a-word-115d5b5329b4"
                target="_blank">Architecting</a>
            </li>
          </ul>
        </nav>
        <div class="credits ml-auto">
          <span class="copyright">
            ©
            <script>
              document.write(new Date().getFullYear())
            </script>
          </span>
        </div>
      </div>
    </div>
  </footer>
  <script src="assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="assets/js/core/bootstrap.min.js" type="text/javascript"></script>
  <script src="assets/js/paper-kit.js?v=2.3.0" type="text/javascript"></script>
</div>